@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F8FAFC;
    color: #0F172A;
  }
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .clip-circle {
    clip-path: circle(50% at 50% 50%);
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
}
